{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
<p>You are logged in</p>
<a href="{{url}}home">Home Page</a>
{% else %}

<div id="logform"><form action="/login/" method="post">
    {% csrf_token %}    
    <h4 id="loggedin">hostname: {{state}}</h4>
    <br />
    <label>username:</label>
    <input type="text" name="username" value="{{username}}" />
    <label>password:</label>
    <input type="password" name="password" value="" /> <br />
    <input type="submit" value="Log In" />
</div></form>

{% endif %}


{% endblock %}
